# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: nivaldoandrade
# "service" is the name of this project. This will also be added to your AWS resource names.
service: api

provider:
  name: aws
  runtime: nodejs24.x
  memorySize: 128
  architecture: arm64
  region: sa-east-1


package:
  individually: true


build:
  esbuild:
    bundle: true
    minify: true
    sourcemap: false
    exclude:
      - '@aws-sdk/*'
    external:
      - '@aws-sdk/*'

functions:
  connectionWS:
    handler: src/functions/connectionWS.handler
    events:
      - websocket:
          route: $connect
      - websocket:
          route: $disconnect

    # PODEMOS SETAR A ROUTE KEY DIRETAMENTE NA WEBSOCKET
    # events:
    #   - websocket: $connect
